<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>About Creator</title>
    <link rel="stylesheet" href="/css/aboutCreatorDesign.css">
</head>
<body>
    <section layout:fragment="body">
        <div class="image-block">
            <a target="_blank">
                <img src="https://avatars.githubusercontent.com/u/145475512?v=4" >
            </a>
        </div>
    </section>
</body>
</html>